// html {
// 	font-size: 1px;
// 	@media screen and (min-width: 768px) and (max-width: 1235px) {
// 		font-size: 0.08vw;
// 	}
// }

body {
	overflow-x: hidden;
}

.container {
	margin-inline: auto;
	padding-inline: 18rem;
	max-width: 1344rem;
}

a {
	color: currentColor;
	text-decoration: none;
}

img {
	max-width: 100%;
}
