// font
$typo:'Nunito', sans-serif;

// couleurs
	// primary=pêche 
	// numéro 1 à 5 du plus clair au plus foncé
$c-primary1: #FA7070;
$c-primary2: #E16565;
$c-primary3: #C85A5A;
$c-primary4: #AF4E4E;
$c-primary5: #964343;

	// secondary=bleu
	// numéro 1 à 5 du plus clair au plus foncé
$c-secondary1:#9DADF5;
$c-secondary2:#6D81D6;
$c-secondary3:#4357AD;
$c-secondary4:#293C91;
$c-secondary5:#162875;

	// tertiary=vert
	// numéro 1 à 5 du plus clair au plus foncé
$c-tertiary1: #A3F0ED;
$c-tertiary2: #73D1CE;
$c-tertiary3: #48A9A6;
$c-tertiary4: #2D8C89;
$c-tertiary5: #1A706D;

	// quaternary =jaune
	// numéro 1 à 5 du plus clair au plus foncé
$c-quaternary1:#FFF09A;
$c-quaternary2:#FFE866;
$c-quaternary3:#FFE347;
$c-quaternary4:#E5C927;
$c-quaternary5:#C9AE10;

	// background= beige
$c-background:#F3EED9;

$c-black:#000000;
$c-footer:#0D1B1E;
$c-white:#FFFFFF; 