// font
$typo: 'Nunito', sans-serif;

// couleurs - numéro 1 à 5 du plus clair au plus foncé
// primary=pêche
$c-primary1: #fa7070;
$c-primary2: #e16565;
$c-primary3: #c85a5a;
$c-primary4: #af4e4e;
$c-primary5: #964343;

// secondary=bleu
$c-secondary1: #9dadf5;
$c-secondary2: #6d81d6;
$c-secondary3: #4357ad;
$c-secondary4: #293c91;
$c-secondary5: #162875;

// tertiary=vert
$c-tertiary1: #a3f0ed;
$c-tertiary2: #73d1ce;
$c-tertiary3: #48a9a6;
$c-tertiary4: #2d8c89;
$c-tertiary5: #1a706d;

// quaternary =jaune
$c-quaternary1: #fff09a;
$c-quaternary2: #ffe866;
$c-quaternary3: #ffe347;
$c-quaternary4: #e5c927;
$c-quaternary5: #c9ae10;

// background= beige
$c-background: #f3eed9;

$c-black: #000;
$c-footer: #0d1b1e;
$c-white: #fff;

// Transition
$t-quick: 0.15s;
$t-dynamic: cubic-bezier(0.84, 0.02, 0.22, 0.99);
$t-quick-dynamic: $t-quick $t-dynamic;