@use '../general/variables' as *;
@use '../general/font' as *;

// bouton au bord rond
.btn {
	@include main-items;
	display: inline-block;
	padding: 12px 24px;
	background-color: $c-white;
	border-radius: 32px;
}

// bouton large du contact
// dans la section concernée dans le fichier _home

// lien avec flèche qui grandit
.link {
	@include second-items;
	display: flex;
	align-items: center;

	&--hidden-arrow {
		width: 24px;
		overflow-x: hidden;
		position: relative;
		transition: width $t-quick-dynamic;
		height: 15px;
		margin-left: 10px;
	}

	&:hover &--text {
		text-decoration: underline;
	}

	&:hover &--hidden-arrow {
		width: 45px;
	}

	&--arrow {
		position: absolute;
		right: 0;
		max-width: none;
		width: 45px;
	}
}

// svg caché pour laisser la place au clip Path
.hidden {
	position: absolute;
	width: 0;
	height: 0;
}

// vague en bas d'une section
.clipped-bottom {
	width: 100%;
	height: 145rem;
	clip-path: url(#my-clip-path);

	@media screen and (max-width: 767px) {
		height: 38rem;
		bottom: -37rem;
	}
}

// vague en haut d'une section
.clipped-top {
	width: 100%;
	height: 145rem;
	clip-path: url(#my-clip-path2);

	@media screen and (max-width: 767px) {
		height: 38rem;
	}
}

// picto guide blanc dans un cercle
.pictog {
	&--circle {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 130rem;
		height: 130rem;
		border-radius: 100rem;
		background-color: $c-black;

		@media screen and (max-width: 767px) {
			width: 70rem;
			height: 70rem;
			margin: auto;
		}
	}

	&--picture {
		width: 84.5rem;

		@media screen and (max-width: 767px) {
			width: 45.5rem;
		}
	}

	&--text {
		text-align: center;
		margin-top: 20rem;
	}

	&:nth-child(1):hover &--circle {
		background-color: $c-secondary2;
	}

	&:nth-child(2):hover &--circle {
		background-color: $c-tertiary3;
	}

	&:nth-child(3):hover &--circle {
		background-color: $c-primary3;
	}

	&:nth-child(4):hover &--circle {
		background-color: $c-secondary4;
	}

	&:nth-child(5):hover &--circle {
		background-color: $c-quaternary3;
	}
}

// box avec image ronde et texte
.box {
	display: flex;
	// justify-content: space-between;
	align-items: center;

	&--picture {
		flex: 4;
		width: 365rem;
		height: 365rem;

		@media screen and (max-width: 767px) {
			width: 260rem;
			height: 260rem;
		}
	}

	&--image {
		width: 365rem;
		height: 365rem;
		border-radius: 200px;
		object-fit: cover;

		@media screen and (max-width: 767px) {
			flex-direction: column;
			width: 260rem;
			height: 260rem;
		}
	}

	&--wrapper {
		flex: 6;
	}

	&--subtitle {
		margin-bottom: 16rem;

		@media screen and (max-width: 767px) {
			margin-top: 30rem;
		}
	}

	&--text {
		@include base-text;
		margin-top: 16rem;
	}

	&--puce {
		@include base-text;
		list-style-type: disc;
		margin-top: 16rem;
		padding-left: 25rem;
	}
	&--button {
		margin-top: 44rem;

		@media screen and (max-width: 767px) {
			width: 100%;
			text-align: center;
		}
	}
}
